#gameDiv{
    font-family: 'Brush Script MT', curive;
    border: 3px solid;
    border-radius: 25px;
    padding: 30px;
    background-color: bisque;
    text-align: center;
}
.choiceBtn{
    line-height: 30px;
    width: 150px;
}
#playerText{
    color: blueviolet;
}
#computerText{
    color: red;
}
#restartContainer {
    text-align: center;
}

#restartBtn {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px; 
    font-size: 16px; 
    border: none;
    cursor: pointer; 
    border-radius: 5px; 
    margin-top: 10px; 
}
